@import "./mixins";
@import "./text";

// COLORS STYLE ///

// c - color
// dt - dark theme
// lt - light theme

$c-dt-background: #111111;
$c-dt-white-1000: #ffffff;
$c-dt-white-500: #888888;
$c-dt-white-100: #282828;
$c-dt-white-50: #161616;
